{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "ecmaFeatures": {
            "globalReturn": false,
            "jsx": true
        },
        "babelOptions": {
            "configFile": "path/to/config.js"
        }
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "extends": [
        "plugin:prettier/recommended",
        "prettier/flowtype",
        "prettier/react",
        "prettier/standard",
        "plugin:cypress/recommended",
        "plugin:react-hooks/recommended"
    ]
}
