{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "jsxSingleQuote": false,
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": ".graphqlconfig",
            "options": {
                "parser": "json"
            }
        }
    ]
}
