@font-face {
    font-family: 'Montserrat';
    src: url('../../content/assets/fonts/Montserrat/montserrat-medium-webfont.woff')
}
html {
    font-family: Montserrat, serif, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    overflow-x: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
